{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.test.[jt]s",
      "options": {
        "semi": true
      }
    },
    {
      "files": ["*.html", "legacy/**/*.js"],
      "options": {}
    }
  ]
}
